:link {
	color:#004B91;
}
a:visited {
	color:#743399;
}
a:active,
a:hover {
	color: #FF4B33;
}


article {
	width: 100%;
	padding-bottom: 3em;
}

article blockquote,
article dl,
article ul,
article ol,
.block {
	margin-left: 2em;
}


article blockquote {
	font-style: italic;
	float: right;
	width: 12em;
	margin-bottom: 1em;
}

article blockquote p + p {
	text-indent: 0;
}

article h1 {
	font-size: 140%;
}

article h2 {
	font-size: 105%;
}


article dd + h2,
article dl + h2,
article img + h2,
article h1 + h2,
article h2 + h2,
article ol + h2,
article p + h2, 
article ul + h2,
article table + h2
article dd + h3,
article img + h3,
article h1 + h3,
article h2 + h3,
article h3 + h3,
article ol + h3,
article p + h3, 
article ul + h3,
article table + h3
{
	margin-top: 3em;
}

article h3 {
	font-style: italic;
	font-size: 90%;
}

article h3,
article h4,
article dt,
article ol,
article p,
article ul,
.block {
	margin-top: 1.5em;
}

article div + p,
article p + p,
article ul + p,
article dl + p,
article ol + p {
	text-indent: 2em;
}

article ol {
	font-weight: bold;
}

article ol span {
	font-weight: normal;
}


article dt {
	font-weight: bold;
}

article blockquote,
article time {
	color: #666;
}

article time {
	font-size: 90%;
	display: block;
}

article code,
article pre {
	font-family: Inconsolata;
}

body {
	padding: 0 1em;
	font-family: Cantarell;
    line-height: 1.5em;
    word-wrap: break-word;
    text-align: justify;
    text-justify: newspaper;
	}

#container {
	padding-right: 14em;
	margin-bottom: 1em;
}

.block {
	text-indent: 0;
	text-align: left;
	text-justify: auto;
}

pre, code {
	text-align: left;;
	text-justify: auto;
}

#container .column {
	float: left;
	position: relative;
}

footer {
	border-top: 1px solid #ccc;
	padding: 3em 0 1.5em 0;
	clear: both;
}

header h1 {
	padding-top: 3em;
	font-family: Nobile;
	font-size: 200%;
}

header h2
{
	font-family: Cantarell;
    font-weight: normal;
    line-height: 2em;
    font-style: italic;
    color: #666;
}

h1,
h2,
h3
{
	font-family: Nobile;
}


html {
	background: white;
	color: black;

}

#menu {
	margin: 4em 0;
	width: 100%;
	overflow: auto;
	background: black;
	color: white;
	height: 3.5em;
	font-family: Droid Sans;
}


#menu a {
	display: block;
	width: 14em;
}

#menu a:link,
#menu a:visited,
#menu a:active,
#menu a:hover {
	color: white;
	text-decoration: none;
}

#menu a:active, #menu a:hover {
	font-weight: bold;
}


#menu ul li {
	float: left;
	width: 5em;
	margin: 0 1em;
	text-indent: 1em;
	line-height: 3.5em;
}

#menu ul li ul {
	position: absolute;
	width: 14em;
	left: -999em; 
}

#menu ul li:hover ul {
	left: auto;
	z-index: 1;
}


#menu ul li ul li {
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0;
	padding: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 3em;
	line-height: 3em;
	width: 14em;
}

#menu ul ul {
	margin-top: -1em;
}

#menu ul ul ul {
	margin-left: 9em;
	margin-top: -2.5em;
}


/* menus level 2 */

#menu ul li:hover ul ul {
	left: -999em;
}

#menu ul ul li:hover ul {
	left: auto;
}


/* menus level 3 */

#menu ul ul li:hover ul ul {
	left: -999em;
}

#menu ul ul ul li:hover ul {
	left: auto;
}

nav,
nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6 {
	font-family: Droid Sans;
	font-style: normal;
}

#sidebar {
	margin-right: -14em;
	width: 10em;
	padding-left: 4em;
}

#sidebar a:link,
#sidebar a:visited {
	text-decoration: none;
}
#sidebar a:hover {
    text-decoration: underline;
}

#sidebar ul {
	margin-bottom: 1em;
}

time {
	line-height: 2.5em;
}


#wrapper {
	margin: 0 auto;
	min-width: 20em;
	max-width: 52em;
}

ol, ul {
	list-style-position: inside;
}



